      <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8" />
                <title>EOD Stock API - </title>
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
                <meta name="description" content="" />
                <meta name="author" content="" />
                <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
                <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
                <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css" > </link>
            </head>
            <body>
                <!-- Navigation-->
                <nav class="navbar navbar-light bg-light static-top">
                    <div class="container">
                        <a class="navbar-brand" href="/demo">EOD Stocks API</a>
                        <a class="btn btn-primary" href="/demo">Swagger Documentation</a>
                    </div>
                </nav>
                <!-- Masthead-->
                <header class="masthead">
                    <div class="container position-relative">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="text-center text-white">
                                    <h1 class="mb-5">Get Notified of Interesting Developments</h1>
                                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                        <!-- Email address input-->
                                        <div class="row">
                                            <div class="col">
                                                <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                            </div>
                                            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                        </div>
                                        <!-- Submit success message-->
                                        <!---->
                                        <!-- This is what your users will see when the form-->
                                        <!-- has successfully submitted-->
                                        <div class="d-none" id="submitSuccessMessage">
                                            <div class="text-center mb-3">
                                                <div class="fw-bolder">Form submission successful!</div>
                                                <p>To activate this form, sign up at</p>
                                                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                            </div>
                                        </div>
                                        <!-- Submit error message-->
                                        <!---->
                                        <!-- This is what your users will see when there is-->
                                        <!-- an error submitting the form-->
                                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Icons Grid-->
                <!-- Footer-->
                <footer class="footer bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                                 
                                <p class="text-muted small mb-4 mb-lg-0">
                                    <a href="/"> {{ BASE_URL }} </a> |
                                    <a href="mailto:info@{{ BASE_URL }}"> info@{{ BASE_URL }}} </a>
                                
                                </p> 

                            </div>
                            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item me-4">
                                        <a href="https://twitter.com/blueitserver" target="_blank"><i class="bi-twitter fs-3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
                <script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
            </body>
        </html>
