<div class="card">
    <div class="card-header">
        <h3 class="card-title">Business Plan</h3>
        <p class="font-weight-bold text-info">Upgrade to our business plan. and grow your business fast</p>
    </div>
    <div class="card-body">
        <ul>
          <li class="font-weight-bold text-danger">50,000 Requests Per Month</li>
          <li>200,000 records per request</li>
          <li>24/7 email and phone support</li>
          <li>API documentation access</li>
          <li>Dedicated account manager</li>
          <li class="font-italic font-weight-bold text-info">Exchanges</li>
          <li  class="font-italic font-weight-bold text-info">Stock Tickers</li>
          <li  class="font-italic font-weight-bold text-info">EOD Data</li>
          <li  class="font-italic font-weight-bold text-info">Fundamentals</li>
          <li  class="font-italic font-weight-bold text-info">Financial News</li>
          <li  class="font-italic font-weight-bold text-info">Options Data</li>
          <li   class="font-italic font-weight-bold text-info">Technical Data</li>
          <li  class="font-italic font-weight-bold text-info">Sentiment Analysis</li>
          <li  class="font-italic font-weight-bold text-info">Real Time Social Media Trends</li>
        </ul>
    </div>
 <div class="card-footer">
    <h3 style="background-color: darkgray; accent-color: #3e8f3e; color: white;  padding: 5px;">Subscription Details</h3>
    <h4 style="font-weight: bold;">This is a Monthly Contract with Monthly Payments of $ {{ '%0.2f'|format(plan.Amount) }} and an option to cancel at any time</h4>
 </div>
</div>