<div class="card">
    <div class="card-header">
        <h1 class="card-title" title="EOD Stock Market API - Enterprise Plan">Enterprise Plan</h1>
        <p class="font-weight-bold text-info">The best possible plan for a huge enterprise or research institution</p>
    </div>
    <div class="card-body">
            <ul>
              <li class="font-weight-bold text-danger">Unlimited Request Limits</li>
              <li>Custom records per request</li>
              <li>24/7 Email Support</li>
              <li>API Documentation Access</li>
              <li>Dedicated account manager</li>
              <li>SLA-backed uptime guarantee</li>
              <li class="font-italic font-weight-bold text-info">Exchanges</li>
              <li class="font-italic font-weight-bold text-info">Stock Tickers</li>
              <li class="font-italic font-weight-bold text-info">EOD Data</li>
              <li class="font-italic font-weight-bold text-info">Fundamentals</li>
              <li class="font-italic font-weight-bold text-info">Financial News</li>
              <li class="font-italic font-weight-bold text-info">Options Data</li>
              <li class="font-italic font-weight-bold text-info">Technical Data</li>
              <li class="font-italic font-weight-bold text-info">Sentiment Analysis</li>
              <li class="font-italic font-weight-bold text-info">Real Time Social Media Trends</li>
            </ul>
    </div>
    <div class="card-footer">
        <h3 style="background-color: darkgray; accent-color: #3e8f3e; color: white;  padding: 5px;">Subscription Details</h3>
        <h4 style="font-weight: bold;">Monthly Contract with Monthly Payments of <span class="text-info">$ {{ '%0.2f'|format(plan.Amount) }}</span></h4>
    </div>
</div>