                        <h3 class="card-title">Enterprise Plan</h3>
                        <p>The best possible plan for a huge enterprise or research institution</p>
                        <ul>
                          <li>Custom request limits</li>
                          <li>Custom records per request</li>
                          <li>24/7 email and phone support</li>
                          <li>API documentation access</li>
                          <li>Dedicated account manager</li>
                          <li>SLA-backed uptime guarantee</li>
                          <li>Exchanges</li>
                          <li>Stock Tickers</li>
                          <li>EOD Data</li>
                          <li>Fundamentals</li>
                          <li>Financial News</li>
                          <li>Options Data</li>
                          <li>Technical Data</li>
                          <li>Sentiment Analysis</li>
                          <li>Real Time Social Media Trends</li>
                        </ul>

<h3 style="background-color: darkgray; accent-color: #3e8f3e; color: white;  padding: 5px;">Subscription Details</h3>
<h4 style="font-weight: bold;">This is a 12 Month Contract with Monthly Payments of $ {{ '%0.2f'|format(plan.Amount) }} and an option to cancel at any time</h4>

