<div class="card">
    <div class="card-header">
        <h1 class="card-title" title="EOD Stock Market API - Professional Plan">Professional Plan</h1>
        <p class="font-weight-bold text-info">A better solution for a growing business or a serious professional in the financial industry</p>
    </div>
<div class="card-body">
    <ul>
      <li class="font-weight-bold text-danger">10,000 requests per month</li>
      <li>50,000 records per request</li>
      <li>Priority email support</li>
      <li>API documentation access</li>
      <li class="font-italic font-weight-bold text-info">Exchanges</li>
      <li class="font-italic font-weight-bold text-info">Stock Tickers</li>
      <li class="font-italic font-weight-bold text-info">EOD Data</li>
      <li class="font-italic font-weight-bold text-info">Fundamentals</li>
      <li class="font-italic font-weight-bold text-info">Financial News</li>
      <li class="font-italic font-weight-bold text-info">Options Data</li>
      <li class="font-italic font-weight-bold text-info">Technical Data</li>
      <li class="font-italic font-weight-bold text-info">Sentiment Analysis</li>
    </ul>
</div>
<div class="card-footer">
<h3 class="bg-light bg-gradient text-info font-weight-bold">Subscription Details</h3>
    <h4 class="font-weight-bold">Monthly Contract with Monthly Payments of <span class="text-info"> $ {{ '%0.2f'|format(plan.Amount) }}</span></h4>
</div>
</div>