<div class="card">
    <div class="card-header">
        <h1> class="card-title">Professional Plan</h1>
        <p class="font-weight-bold text-info">A better solution for a growing business or a serious professional in the financial industry</p>
    </div>
<div class="card-body">
    <ul>
      <li class="font-weight-bold text-danger">10,000 requests per month</li>
      <li>50,000 records per request</li>
      <li>Priority email support</li>
      <li>API documentation access</li>
      <li class="font-italic font-weight-bold text-info">Exchanges</li>
      <li class="font-italic font-weight-bold text-info">Stock Tickers</li>
      <li class="font-italic font-weight-bold text-info">EOD Data</li>
      <li class="font-italic font-weight-bold text-info">Fundamentals</li>
      <li class="font-italic font-weight-bold text-info">Financial News</li>
      <li class="font-italic font-weight-bold text-info">Options Data</li>
      <li class="font-italic font-weight-bold text-info">Technical Data</li>
      <li class="font-italic font-weight-bold text-info">Sentiment Analysis</li>
    </ul>
</div>
<div class="card-footer">
<h3 style="background-color: darkgray; accent-color: #3e8f3e; color: white;  padding: 5px;">Subscription Details</h3>
<h4 style="font-weight: bold;">This is a 12 Month Contract with Monthly Payments of $ {{ '%0.2f'|format(plan.Amount) }} and an option to cancel at any time</h4>
</div>
</div>