{% extends "layouts/layout.html" %}
{% block content %}
  <div class="right_col" role="main">
  <div class="row">
      <div class="container-fluid mt-3">
    <div class="row mt-4">
      <div class="col-md-6">
        <!-- Account Data -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-user"> </i>  Account Details</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="control-group">
                        <label for="first_name"> First Name</label>
                        <input class="form-control" type="text" id="first_name" name="first_name" value="">
                    </div>
                    <div class="control-group">
                        <label for="second_name"> Second Name</label>
                        <input class="form-control" type="text" id="second_name" name="second_name" value="">
                    </div>
                    <div class="control-group">
                        <label for="surname"> Surname</label>
                        <input class="form-control" type="text" id="surname" name="surname" value="">
                    </div>
                    <div class="control-group">
                        <label for="cell"> Cell</label>
                        <input class="form-control" type="tel" id="cell" name="cell" value="">
                    </div>
                    <div class="control-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" value="">
                    </div>
                    <div class="control-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="Password" value="">
                    </div>
                    <div class="control-group">
                            <hr>
                    </div>

                    <div class="control-group">
                        <button class="btn btn-dark" id="update_account_button" name="update"> <i class="fa fa-user-plus"> </i> Update Account Details</button>
                    </div>

                </form>
            </div>
        </div>

      </div>
      <div class="col-md-6">

       <!-- API Key and Subscription Details -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"> <i class="fa fa-key"> </i> Subscription Details</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
            {% if user_data and user_data['apikey'] %}
                <div class="card-text" id="subscription_details">
                    <strong>loading...</strong>
                </div>
            {% endif %}
                <div class="input-group">
                    {% if user_data and user_data['apikey'] %}
                        <button class="btn btn-dark"><i class="fa fa-server"> </i> Update Plan </button>
                    {% else %}
                            <form method="POST" action="{{ url_for('apikeys.regenerate_api_key') }}">
                            <span> You are not yet subscribed to any plan please select a plan to subscribe</span>
                            <ul class="list-group">
                                <li class="list-group-item"> <label for="plans_select">Select Plan to Subscribe </label>
                                        <select id="plans_select" class="form-control">
                                               <option>Basic - $ 9.99</option>
                                               <option>Professional- $ 19.99</option>
                                               <option>Business - $ 49.99</option>
                                               <option>Enterprise - $ 99.99</option>
                                        </select>
                                    </li>
                            </ul>
                              <a href="https://eod-stock-api.site/#subscription_plans" class="btn btn-dark"> <i class="fa fa-key"> </i>  Subscribe</a>
                            </form>

                    {% endif %}
                </div>
            </div>
            <div class="form-group">
              <span class="card-text">API Keys</span>
              <div class="input-group">
                <input type="password" id="api_key" class="form-control" value="{{ api_key }}" readonly disabled onkeydown="return false;">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" id="show_api_key">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button class="btn btn-secondary" type="button" id="copy_api_key" >
                    <i class="fa fa-copy"> </i>
                  </button>
                </span>
              </div>
            </div>
            <form method="POST" action="{{ url_for('apikeys.regenerate_api_key') }}">
                {% if user_data and user_data['apikey'] %}
                    <button id="update_api_key_button" type="button" class="btn btn-primary"> <i class="fa fa-key"> </i>  Create New API Key</button>
                {% else %}
{#                    <button id="" type="button" class="btn btn-primary" disabled> <i class="fa fa-key"> </i>  API Key</button>#}
                    <a href="https://eod-stock-api.site/#subscription_plans"> <span class="card-text"> Please subscribe to get an API Key</span></a>
                {% endif %}
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
  </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/eod.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard/account.js') }}"></script>
{% endblock %}
