{% extends "layouts/layout.html" %}
{% block headers %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "EOD Stock API - Intelligent Stock Market API - & Financial News API",
  "description": "EOD Stock API provides reliable and accurate End of Day stock data, financial news API, social media trend data for stocks, and much more.",
  "url": "https://eod-stock-api.site"
}
</script>
    <link href="{{ url_for('static', filename='css/cookie.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
          <div class="right_col" role="main">
<div class="col-md-12">
<div class="row">
  <div class="card col-md-12">
    <h1>EOD Stock API - Intelligent Stock Market API</h1>
    <h2>Intelligent Stock Market API - Offers You</h2>
  </div>
  <div class="text-white m-0 col-md-3">
    <div class="m-1 tile-stats bg-dark">
      <div class="icon"><i class="fa fa-clock-o"></i></div>
      <div class="count">81 ms</div>
      <h4 class="heading">Fast &amp; Reliable</h4>
        <a href="#subscription_plans"> <p>Our API provides fast and reliable access to stock market data with an average latency of 81 ms.</p></a>
    </div>
  </div>
  <div class=" text-white m-0 col-md-3">
    <div class="m-1 tile-stats bg-dark">
      <div class="inner">
      <div class="icon"><i class="fa fa-line-chart"></i></div>
      <div class="count">150 K +</div>
      <h4 class="title">Fundamentals</h4>
          <a href="#subscription_plans"> <p>Access a wide range of company fundamentals data for more informed investment decisions.</p></a>
      </div>
    </div>
  </div>
  <div class="text-white m-0 col-md-3">
    <div class="m-1 tile-stats bg-dark">
      <div class="icon"><i class="fa fa-newspaper-o"></i></div>
      <div class="count">1 K +</div>
      <h4 class="title">Financial News</h4>
        <a href="#subscription_plans"> <p>Stay up-to-date with the latest financial news with access to a comprehensive collection of daily articles.</p></a>
    </div>

  </div>
  <div class="text-white m-0 col-md-3">
    <div class="m-1 tile-stats bg-dark">
      <div class="icon"><i class="fa fa-bar-chart"></i></div>
      <div class="count">150 K +</div>
        <h4 class="title">Real-time Social Trends</h4>
        <a href="#subscription_plans"><p>Track stock trends and social media sentiment for more accurate analysis of market behavior.</p></a>
    </div>
</div>
</div>
{# Section Divider #}
<h2> <strong>EOD Stock API - Intelligent Stock Market API</strong></h2>
<div class="card">
<div class="card-body">
    <h2 class="card-title">Empowering Developers to Create Innovative <strong>Business & Trading Solutions suited for Todays AI & Digital Revolutions</strong></h2>
    <h2 class="card-text">Our mission is to provide developers with the resources & Information they need to create innovative and effective applications that solve real-world problems.</h2>
    <h2 class="card-text">We are passionate about building tools and solutions that help modern businesses succeed in a constantly evolving Stock Market & Business Landscape during the AI & Digital Revolution.</h2>
    <h2 class="card-text"> <strong>Our API Gateway's</strong> and <strong>Stocks API Backend</strong> offer comprehensive solutions for enabling easy and reliable access to daily
                    stock market data, business news & trends world wide .</h2>
</div>

</div>
<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Get Access to 70+ Exchanges World Wide</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <img src="{{ url_for('static', filename='images/xchanges/bse.jpg') }}" alt="BSE Stock Exchange" width="80" height="46">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <img src="{{ url_for('static', filename='images/xchanges/dax.jpg') }}" alt="DAX Exchange"  width="80" height="46">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <img src="{{ url_for('static', filename='images/xchanges/nasdaq.jpg') }}" alt="Nasdaq Stock Exchange"  width="90" height="46">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <img src="{{ url_for('static', filename='images/xchanges/nse.jpg') }}" alt="National Stock Exchange India"  width="90" height="46">
                        </div>
                        <div class="col-md-2 col-sm-4">
                                <img src="{{ url_for('static', filename='images/xchanges/nyse.jpg') }}" alt="New York Stock Exchange"  width="90" height="46">
                        </div>
                        <div class="col-md-2 col-sm-4">
                                <img src="{{ url_for('static', filename='images/xchanges/tsx.jpg') }}" alt="Toronto Stock Exchange"  width="90" height="46">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{#    DATA API'S          #}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Stock Market & Financial Data API's</h3>
        </div>
    <div class="row">
    <div class="col-md-6 col-sm-6">
            <div class="blockquote">
                <ul>
                    <li><a href="{{ url_for('docs.documentations', path='fundamentals') }}"> Fundamental Data </a></li>
                    <li>EOD-Data</li>
                    <li>Technical Data</li>
                    <li>Financial News</li>
                </ul>
            </div>
    </div>
    <div class="col-md-6 col-sm-6">
            <div class="blockquote">
                <ul>
                    <li><a href="{{  url_for('docs.documentations', path='exchanges') }}">Exchanges Data</a></li>
                    <li>Stock Tickers</li>
                    <li>Options Data</li>
                    <li>Sentiment Analysis</li>
                </ul>
            </div>
    </div>
    </div>
    </div>
</div>


<div class="clearfix"><hr/></div>
  <div id="subscription_plans" class="container">
      <div class="tile tile_header">
          <h3 class="title-decor">Subscribe - Free Trial Available</h3>
      </div>
    <div class="col-md-12">
          <div class="col-md-3">
            <h3>Basic </h3>
            <h2 class="text-info font-weight-bold">1 Month Free Trial</h2>
            <p class="text-body">Get started with our basic plan. and get a one month free trial</p>
            <ul>
              <li>500 requests per month</li>
              <li>10,000 records per request</li>
              <li>Limited email support</li>
              <li>API documentation access</li>
              <li>Exchanges</li>
              <li>Stock Tickers</li>
              <li>EOD Data</li>
                <li class="text text-info font-weight-bold"> One Month Free Trial</li>
            </ul>
                <form id="basic_plan_form" class="form-horizontal" action="/plan-subscription/">
                    <input type="hidden" id="basic_id" name="basic_id" value="">
                    <button type="button" class="btn btn-dark" id="basic_plan"><i class="fa fa-dollar"> </i>  </button>
                </form>
          </div>
          <div class="col-md-3">
            <h3>Professional</h3>
            <p>Upgrade to our professional plan.</p>
            <ul>
              <li>1,000 requests per month</li>
              <li>50,000 records per request</li>
              <li>Priority email support</li>
              <li>API documentation access</li>
              <li>Exchanges</li>
              <li>Stock Tickers</li>
              <li>EOD Data</li>
              <li>Fundamentals</li>
              <li>Financial News</li>
              <li>Options Data</li>
              <li>Technical Data</li>
              <li>Sentiment Analysis</li>
            </ul>
            <form id="professional_plan_form" class="form-horizontal" action="/plan-subscription/">
                <input type="hidden" id="professional_id" name="professional_id" value="">
             <button type="button" class="btn btn-dark" id="professional_plan"><i class="fa fa-dollar"> </i>  </button>
            </form>
          </div>
          <div class="col-md-3">
            <h3>Business</h3>
            <p>Upgrade to our business plan.</p>
            <ul>
              <li>5,000 requests per month</li>
              <li>200,000 records per request</li>
              <li>24/7 email and phone support</li>
              <li>API documentation access</li>
              <li>Dedicated account manager</li>
              <li>Exchanges</li>
              <li>Stock Tickers</li>
              <li>EOD Data</li>
              <li>Fundamentals</li>
              <li>Financial News</li>
              <li>Options Data</li>
              <li>Technical Data</li>
              <li>Sentiment Analysis</li>
              <li>Real Time Social Media Trends</li>
            </ul>
              <form id="business_plan_form" class="form-horizontal" action="/plan-subscription/">
                    <input type="hidden" id="business_id" name="business_id" value="">
                    <button class="btn btn-dark" id="business_plan"><i class="fa fa-dollar"> </i> </button>
              </form>
          </div>
          <div class="col-md-3">
            <h3>Enterprise</h3>
            <p>Contact us for a custom enterprise plan.</p>
            <ul>
              <li>Custom request limits</li>
              <li>Custom records per request</li>
              <li>24/7 email and phone support</li>
              <li>API documentation access</li>
              <li>Dedicated account manager</li>
              <li>SLA-backed uptime guarantee</li>
              <li>Exchanges</li>
              <li>Stock Tickers</li>
              <li>EOD Data</li>
              <li>Fundamentals</li>
              <li>Financial News</li>
              <li>Options Data</li>
              <li>Technical Data</li>
              <li>Sentiment Analysis</li>
              <li>Real Time Social Media Trends</li>
            </ul>
              <form id="enterprise_plan_form" class="form-horizontal" action="/plan-subscription/">
                  <input type="hidden" id="enterprise_id" name="enterprise_id" value="">
                  <button type="button" class="btn btn-dark" id="enterprise_plan"><i class="fa fa-envelope"> </i> </button>
             </form>
          </div>
    </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
   <div class="card">
       <div class="card-header">
           <h3 class="card-title">Documentations</h3>
       </div>
   <div class="card-body">
        <div class="row">
            <div class="col-md-6">
              <div class="tile">
                <div class="tile-header">
                  <h3 class="title"><i class="fa fa-brands fa-github"> </i> SDKs</h3>
                </div>
                <div class="tile-content">
                  <p>We offer SDKs in multiple programming languages to make integrating with our API a breeze. Our SDKs are available on GitHub, making it easy to get started.</p>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <a href="https://github.com/MJ-API-Development/stock-api-pythonsdk" target="_blank">
                          <i class="fa fa-github-alt"></i>
                          Python
                        </a>
                               <ul>
                                   <li>Python Package @ GITHUB : <a href="https://github.com/MJ-API-Development/stock-api-pythonsdk" target="_blank"> Intelligent-Stock-Market-API</a></li>
                                   <li>Install from Pypi : <a href="https://pypi.org/project/Intelligent-Stock-Market-API/" target="_blank"> Intelligent-Stock-Market-API </a> </li>
                                   <li> <p>Or You can install from your python virtual environment using :</p>
            <pre class="bg-dark text-white">
            pip install Intelligent-Stock-Market-API
            </pre>
                                   </li>
                               </ul>
                      </li>
                      <li class="list-group-item">
                        <a href="https://github.com/MJ-API-Development/stock-api-nodesdk" target="_blank">
                          <i class="fa fa-github-alt"> </i>
                          Node.js
                        </a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tile">
                <div class="tile-header">
                    <h3 class="title"><i class="fa fa-brands fa-file-text"> </i> Documentations</h3>
                </div>
                <div class="tile-content">
                  <p>Our API documentation is comprehensive and easy to follow. It includes code samples, detailed explanations,
                      and examples of use cases. You can access our documentation at the following link:</p>

                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('docs.redoc') }}">Redoc Documentations </a></li>
                    <li class="list-group-item"><a href="{{ url_for('docs.openapi_json') }}">OpenAPI Specifications  </a></li>
                    <li class="list-group-item"><a href="{{ url_for('docs.github_docs') }}">Github Documentations  </a></li>
                </ul>
                </div>
              </div>
            </div>
        </div>
   </div>
   </div>
</div>

<div class="clearfix"><hr/></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Redoc Documentations</h3>
                </div>
                <div class="card-body">
                    <a href="{{ url_for('docs.redoc') }}"> Redoc Open API Documentations for our API can be accessed here, so if you are
                        interested in learning exactly how our API Works click here </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"><hr/></div>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Sample Code in Python</h5>
        </div>
        <div class="card-body">
<pre class="bg-dark text-light p-3 language-python">
  import requests
  url = 'https://gateway.eod-stock-api.site/api/v1/exchanges'
  headers = {
      'Content-Type': 'application/json'
  }

  params = {'api_key':'API KEY HERE'}
  response = requests.get(url, headers=headers, params=params)
  print(response.json())

  # Response
{
    "message": "Exchange listings returned",
    "payload": [
        {
            "code": "BA",
            "country": "Argentina",
            "currency_symbol": "ARS",
            "exchange_id": "RP5zfbmYel63f0Wc",
            "name": "Buenos Aires Exchange",
            "operating_mic": "XBUE"
        },
        {
            "code": "AU",
            "country": "Australia",
            "currency_symbol": "AUD",
            "exchange_id": "Tl2hlbpejIQflm94",
            "name": "Australia Exchange",
            "operating_mic": "XASX"
        }]
    "status": True
}
</pre>
        </div>
      </div>
    </div>
    <div class="col-md-12">
        <div class="card-body">

            <a href="https://github.com/MJ-API-Development" target="_blank"> <h3 class="title">MJ API Development on Github</h3></a>

            <div class="card-text">
                <h3>Python Based API Gateway:</h3>
                    <p>Our API Gateway repository provides gateway services such as authentication, authorization,
                        and payment processing for clients.</p>

                    <p>It enables developers to create secure, reliable, and scalable APIs that meet the demands
                        of modern businesses.</p>

                <p>Check it out at: <a href="https://github.com/MJ-API-Development/api-gateway" target="_blank"> <strong>API Gateway Built With Python</strong></a>
            </div>

            <div class="card-text">
                <h3>EOD API Developers Blog:</h3>
                <p>
                    Our <a href=""><strong>EOD API Blog is a Github-based blog hosted on our website</strong></a>
                    which provides valuable resources and information for developers working with
                    financial data and APIs.
                </p>

                <p>It is an excellent resource for anyone looking to improve their skills and stay up-to-date with the
                    latest trends in API development.</p>

                Visit our blog at: <a href="https://eod-stock-api.site/blog"><strong>Github Based Developers Blog</strong></a>
            </div>

            <div class="card-text">
                <h3>Stock API Python SDK: Intelligent Stock Market API </h3>
                <p>Our <strong>Stock API Python SDK</strong> provides a simple and intuitive way to interact with our Stock API,
                    making it easy to integrate real-time financial data into your applications.</p>

                    <p>With our Python SDK, developers can easily retrieve and analyze data, allowing for advanced
                        insights and analysis.</p>

                <p>Check out our Python SDK at: <a href="https://github.com/MJ-API-Development/stock-api-pythonsdk" target="_blank"> <strong>Intelligent Stock Market PythonSDK</strong> </a></p>
            </div>

            <div class="card-text">
                <h3>Cloudflare Based Gateway Routers</h3>

                <p>Our Cloudflare Gateway Routers repository provides a powerful tool for managing and routing API requests.
                    It makes it easier to manage complex API ecosystems and ensures that API requests are secure, reliable, and scalable.</p>

                <p>Visit our Cloudflare Gateway Routers repository at: <a href="https://github.com/MJ-API-Development/gateway-router" target="_blank"> <strong>https://github.com/MJ-API-Development/gateway-router </strong></a></p>
            </div>
        </div>
    </div>
  </div>

<div id="cookie-popup" style="display:none;">
    <p> We use cookies to personalize content,
        to provide social media features and to analyze our traffic.</p>

        <p>We also share information about your use of our site with our,
        advertising and analytics partners who may combine it with other information
            that you’ve provided to them or that they’ve collected from your use of their services.</p>

        <p>By continuing to use our website, you consent to our use of cookies.</p>

    <button id="cookie-accept">Accept</button>
</div>

</div>

</div>
          <!-- /page content -->
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/cookies.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/eod.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/subscribe.js') }}"> </script>

{% endblock %}
