{% extends "layouts/layout.html" %}
{% block title %}
    <title>EOD Stock Market API - {{ plan.plan_name }} Subscription Plans</title>
{% endblock %}
{% block seo_tags %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EOD Stock API Subscription plans - {{ plan.description }}">
    <meta name="keywords" content="EOD Stock API, End of Day Stock Data, Fundamental Data, Stock Options Data, Financial News API, Social Media Trend Data, Sentiment Analysis for News, Real-time Stock Data">
    <meta name="author" content="MJ API Development">

    <meta property="og:title" content="EOD Stock API - {{ plan.plan_name }} Subscription Plan">
    <meta property="og:description" content="EOD Stock API Subscription plan {{ plan.description }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png', _external=True) }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="EOD Stock API - {{ plan.plan_name }} Subscription Plan">
    <meta name="twitter:description" content="EOD Stock API Subscription plan {{ plan.description }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png', _external=True) }}">
    <meta name="twitter:card" content="summary">

    <meta name="application-name" content="EOD Stock API">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

{% endblock %}
{% block headers %}
{% if plan.plan_name == 'BASIC' %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "{{ plan.plan_name }} Plan",
      "description": "EOD Stock Market API - {{ plan.description }}",
      "offers": {
        "@type": "Offer",
        "price": "{{ plan.Amount }}",
        "priceCurrency": "USD",
        "priceValidUntil": "2025-01-01",
        "availability": "https://schema.org/OnlineOnly",
      "trial":{
        "@type":"Offer",
        "name": "1 Month Free Trial of Basic Plan",
        "description": "EOD Stock Market API - {{ plan.description }}",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/OnlineOnly"
      }
      }
    }
</script>
{% else %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Service",
      "name": "{{ plan.plan_name }} Plan",
      "description": "EOD Stock Market API - {{ plan.description }}",
      "offers": {
        "@type": "Offer",
        "price": "{{ plan.Amount }}",
        "priceCurrency": "USD",
        "priceValidUntil": "2025-01-01",
        "availability": "https://schema.org/OnlineOnly"
      }
    }
    </script>
{% endif %}
<style>
    #paypal-button-container {
      max-width: 150px;
    }
    .footer-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .footer-menu li {
        margin-right: 20px;
    }
    .footer-menu li:last-child {
        margin-right: 0;
    }
    .footer-menu li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
</style>
<script src="https://www.paypal.com/sdk/js?client-id={{ paypal_settings.CLIENT_ID }}&currency=USD&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
{% endblock %}
{% block content %}
<div class="right_col" role="main">
<div class="col-md-12">
            {#  TODO include plan details #}
            {% if plan.plan_name == 'BUSINESS' %}
                {% include 'dashboard/plans/business.html' %}
            {% elif plan.plan_name == 'BASIC' %}
                {% include 'dashboard/plans/basic.html' %}
            {% elif plan.plan_name == 'ENTERPRISE' %}
                {% include 'dashboard/plans/enterprise.html' %}
            {% elif plan.plan_name == 'PROFESSIONAL' %}
                {% include 'dashboard/plans/professional.html' %}
            {% else %}
                {% include 'dashboard/plans/basic.html' %}
            {% endif %}
            <div class="card-body">
                <form class="form-horizontal">
                  <div id="paypal-button-container"></div>
                </form>
            </div>
            {% if user_data %}
                <form class="form-horizontal" id="user_subscription_data_form">
                    <input id="uuid" type="hidden" value="{{ user_data.uuid }}" />
                    <input id="plan_id" type="hidden" value="{{ plan.plan_id }}" />
                    <input id="paypal_id" type="hidden" value="{{ plan.paypal_id }}" />
                </form>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        <a href="{{ url_for('auth.login') }}">
                            <span
                                    class="btn btn-dark"
                                    title="Login or Create an Account in order to subscribe"><i class="fa fa-user-plus"> </i> Login / Create Account</span></a>
                    </div>
                    <div class="card-body">
                        <span>In order to subscribe you need to create an account</span>
                    </div>
                    <div class="card-footer">
                        <ul class="footer-menu">
                            {% if plan.plan_name == "BASIC" %}
                            <li>
                                <span class="text-dark" title="EOD Stock Market API - Basic Plan">Basic Plan</span>
                            </li>

                            {% else %}
                            <li><a href="/plan-descriptions/basic"
                                   class="font-weight-bold text-info"
                                   title="EOD Stock Market API - Basic Plan">Basic</a></li>
                            {% endif %}
                            {% if plan.plan_name == "PROFESSIONAL" %}
                            <li>
                                <span class="text-dark" title="EOD Stock Market API - Professional Plan">Professional Plan</span>
                            </li>

                            {% else %}
                            <li><a href="/plan-descriptions/professional"
                                   class="font-weight-bold text-info"
                                   title="EOD Stock Market API - Professional Plan">Professional</a></li>
                            {% endif %}
                            {% if plan.plan_name == "BUSINESS" %}
                            <li>
                                    <span class="text-dark" title="EOD Stock Market API - Business Plan">Business Plan</span>
                            </li>

                            {% else %}
                            <li><a href="/plan-descriptions/business"
                                   class="font-weight-bold text-info"
                                   title="EOD Stock Market API - Business Plan">Business</a></li>
                            {% endif %}
                            {% if plan.plan_name == "ENTERPRISE" %}
                            <li class="card-title">
                                    <span class="text-dark" title="EOD Stock Market API - Enterprise Plan">Enterprise Plan</span>
                            </li>

                            {% else %}
                            <li><a href="/plan-descriptions/enterprise"
                                   class="font-weight-bold text-info"
                                   title="EOD Stock Market API - Enterprise Plan">Enterprise</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                            {% if plan.plan_name == "BASIC" %}
                            <span class="card-text">
                                <p>Looking for a powerful yet affordable stock market API subscription plan? Look no further than our package, designed to meet the needs of budget-conscious traders and investors. With 5000 requests per month and the ability to access up to 10,000 records per reques</p>
                                <p>you'll have all the data you need to make informed decisions in the fast-paced world of finance. Plus, you'll get access to comprehensive API documentation to help you make the most of our tools. Our API covers a wide range of exchanges and stock tickers, providing EOD data, financial news, and more.</p>
                                <p>Plus, you'll get a 1-month free trial to test the waters and see if our service is right for you. While email support is limited, we're confident that our powerful tools and intuitive interface will help you achieve your goals. Subscribe today and take the first step towards financial success.</p>
                            </span>
                            {% elif plan.plan_name == "PROFESSIONAL" %}
                            <span class="card-text">
                                <p>Introducing our stock market API subscription plan, designed to meet the needs of serious traders and investors.</p>

                                <p>With 10,000 requests per month and the ability to access up to 50,000 records per request,
                                you'll have all the data you need to make informed decisions in the fast-paced world of finance.</p>

                                <p>Plus, you'll get priority email support and access to comprehensive API documentation to help you make the most of our powerful tools.</p>

                                <p>Our API covers a wide range of exchanges and stock tickers, providing EOD data, fundamentals, financial news, options data, technical data, and sentiment analysis,
                                to help you stay ahead of the curve. Subscribe today and take your trading game to the next level.</p>
                            </span>
                            {% elif plan.plan_name == "BUSINESS" %}
                            <span class="card-text">
                                <p>Are you a high-volume trader or investor looking for the ultimate stock market API subscription plan? Look no further than our comprehensive package, designed to meet the needs of even the most demanding users.</p>
                                <p>With a staggering 50,000 requests per month and the ability to access up to 200,000 records per request, you'll have all the data you need to stay ahead of the competition.</p>
                                <p>And with 24/7 email and phone support, as well as a dedicated account manager, you can rest assured that we'll be there to help you every step of the way.</p>
                                <p>Our API covers a wide range of exchanges and stock tickers, providing EOD data, fundamentals, financial news, options data, technical data, sentiment analysis, and even real-time social media trends to help you make informed decisions in real-time.</p>
                                <p>Plus, you'll get access to comprehensive API documentation to help you make the most of our powerful tools. Subscribe today and get the ultimate advantage in the fast-paced world of finance.</p>
                            </span>

                            {% elif plan.plan_name == "ENTERPRISE" %}
                            <span class="card-text">
                                <p>Looking for the ultimate stock market API subscription plan that gives you complete control and flexibility?</p>
                                <p>Look no further than our custom package, designed to meet the unique needs of your business or investment strategy.</p>
                                <p>With unlimited request limits and the ability to set custom records per request, you can tailor our powerful tools to your exact needs. </p>
                                <p>And with 24/7 email support, a dedicated account manager, and an SLA-backed uptime guarantee, you can rest assured that we'll be there to support you every step of the way.</p>
                                <p>Our API covers a wide range of exchanges and stock tickers, providing EOD data, fundamentals, financial news, options data, technical data, sentiment analysis, and even real-time social media trends to help you make informed decisions in real-time.</p>
                                <p>Plus, you'll get access to comprehensive API documentation to help you make the most of our tools.</p>
                                <p>Subscribe today and take your trading or investing to the next level with the ultimate in flexibility and support.</p>
                            </span>
                            {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="text-body" id="subscription_response_message"></div>
        </div>
  </div>
{% endblock %}
{% block scripts %}
    {% if user_data %}
        <script src="{{ url_for('static', filename='js/paypal_button.js') }}"></script>
    {% endif %}
{% endblock %}

