{% extends "layouts/layout.html" %}

{% block content %}
<div class="right_col" role="main">
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">401 Error: Not Authorized</h2>
        </div>
        <div class="card-body">
            <p>You are not authorized to make this request</p>
            <p>{{ message }}</p>
        </div>

        <div class="card-footer">
            <h3><a href="{{ url_for('home.home') }}"> Home </a></h3>
        </div>
    </div>
</div>
</div>
{% endblock %}
