{% extends "layouts/layout.html" %}
{% block content %}
    <div class="right_col" role="main">
        <div class="col-md-12">
            <h2>Privacy Policy</h2>

            <h2>Last updated: 2023/04/09</h2>

            <p>MJ API Development Pty LTD ("us", "we", or "our") operates the https://eod-stock-api.site (the "Service").</p>

            <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

            <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Use.</p>

            <h2>Information Collection and Use</h2>
            <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

            <h2>Types of Data Collected</h2>
            <h2>Personal Data</h2>
            <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
<ul>
    <li>Email address</li>
    <li>First name and last name</li>
    <li>Phone number</li>
    <li>Address, State, Province, ZIP/Postal code, City</li>
    <li>Usage Data</li>
    <li>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</li>
</ul>
            <h2>Tracking & Cookies Data</h2>
            <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>

            <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>

            <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>

            <h2>Examples of Cookies we use:</h2>

            <p>Session Cookies. We use Session Cookies to operate our Service.</p>
            <p>Preference Cookies. We use Preference Cookies to remember your preferences and various settings.</p>
            <p>Security Cookies. We use Security Cookies for security purposes.</p>
            <h2>Use of Data</h2>
            <p>MJ API Development Pty LTD uses the collected data for various purposes:</p>
            <ul>
                    <li>To provide and maintain the Service</li>
                    <li>To notify you about changes to our Service</li>
                    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                    <li>To provide customer care and support</li>
                    <li>To provide analysis or valuable information so that we can improve the Service</li>
                    <li>To monitor the usage of the Service</li>
                    <li>To detect, prevent and address technical issues</li>
                    <li>Transfer of Data</li>
            </ul>
            <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
            <p>MJ API Development Pty LTD will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

            <h2>Legal Requirements</h2>

            <p>This Agreement shall be governed by and construed in accordance with the laws of South Africa. The parties irrevocably agree that the courts of South Africa shall have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with this Agreement or its subject matter or formation (including non-contractual disputes or claims).</p>

            <p>The Company operates internationally, including in the USA, and complies with all relevant laws and regulations in each jurisdiction where it conducts business. However, the laws and regulations of certain jurisdictions may prohibit or restrict the use of the Site or API. It is your responsibility to ensure that your use of the Site and API is in compliance with all applicable laws and regulations in your jurisdiction.</p>

            <p>If any provision of this Agreement is found to be invalid, illegal or unenforceable, the remaining provisions shall remain in full force and effect. Any failure or delay by either party in enforcing any provision of this Agreement shall not be deemed a waiver of that provision or any other provision of this Agreement.</p>

            <p>This Agreement, together with our Privacy Policy, constitutes the entire agreement between you and MJ API Development Pty LTD regarding your use of the Site and API.</p>

        </div>
    </div>

{% endblock %}