<!-- footer content -->
<footer class="footer_fixed">

  <div class="pull-right">
    <a href="https://twitter.com/EodStockAPI" target="_blank" title="Find Us on Twitter">
        <i class="fa fa-twitter"></i>
        <strong>Intelligent Stock Markets API</strong>
    </a>

  </div>
  <div class="pull-left">
    <a href="https://eod-stock-api.site" title="Intelligent Stock Market API">
        <strong>EOD STOCK API, Intelligent Stock Markets API</strong>
    </a>
    <span> | </span>
    <a href="https://bit.ly/eod-stock-api"  target="_blank" title="Find Us on Rapid API">
        <strong>On Rapid API - Intelligent Stock Markets API</strong>
    </a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
