<footer class="footer_fixed">
  <div class="row">
    <div class="col-md-3">
      <a href="https://eod-stock-api.site" title="Intelligent Stock Market API">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="EOD Stock API" />
        <h4 class="card-text">MJ API Development</h4>
        <h4 class="small">Copyright 2023</h4>
        <h4 class="card-text">EOD STOCK API</h4>
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://bit.ly/eod-stock-api" target="_blank" title="Find Us on Rapid API">
        <span>
          <img src="{{ url_for('static', filename='images/rapid.png') }}" alt="Find Us On Rapid API" style="height: 30px;">
        </span>
        <p>Intelligent Stock Markets API</p>
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.cloudflare.com/" target="_blank" title="Secured by Cloudflare">

        <img src="{{ url_for('static', filename='images/cloudflare/logo/png/white.png') }}" alt="Secured by Cloudflare" width="170" height="45">
        <p>Secured By Cloudflare</p>
      </a>
    </div>

    <div class="col-md-3">
      <a href="https://twitter.com/EodStockAPI" target="_blank" title="Find Us on Twitter">
        <h4>Social</h4>
        <p><i class="fa fa-twitter"></i> @EodStockAPI</p>
      </a>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="footer_links">
    <a href="/terms" class="card-text">Terms of Use</a>
    <span> | </span>
    <a href="/privacy" class="card-text">Privacy Policy</a>
  </div>
</footer>