<!DOCTYPE html>
<html lang="en">
  <head>
   <!-- Required meta tags for SEO -->
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SPJE1C58ZG"></script>
<script src="{{ url_for('static', filename='js/google_analytics.js') }}"></script>
  {% block title %}
    <title>EOD Stock API - Intelligent Stock Market API - Financial News API</title>
  {% endblock %}
{% block seo_tags %}

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="EOD Stock API provides reliable and accurate End of Day stock data, financial news API, social media trend data for stocks, and much more.">
<meta name="keywords" content="EOD Stock API, End of Day Stock Data, Fundamental Data, Stock Options Data, Financial News API, Social Media Trend Data, Sentiment Analysis for News, Real-time Stock Data">
<meta name="author" content="MJ API Development">

<meta property="og:title" content="EOD Stock API">
<meta property="og:description" content="EOD Stock API provides reliable and accurate End of Day stock data, financial news API, social media trend data for stocks, and much more.">
<meta property="og:image" content="{{ url_for('static', filename='images/logo.png', _external=True) }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:type" content="website">

<meta name="twitter:title" content="EOD Stock API">
<meta name="twitter:description" content="EOD Stock API provides reliable and accurate End of Day stock data, financial news API, social media trend data for stocks, and much more.">
<meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png', _external=True) }}">
<meta name="twitter:card" content="summary">

<meta name="application-name" content="EOD Stock API">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{#<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">#}
{% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/ico" />
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fontawesome/css/brands.min.css') }}" rel="stylesheet" type="text/css">
    <!-- NProgress -->
    <link href="{{ url_for('static', filename='vendors/nprogress/nprogress.css') }}" rel="stylesheet" type="text/css">
    <!-- iCheck -->
	<link href="{{ url_for('static', filename='vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet" type="text/css">
    <!-- bootstrap-progressbar -->
    <link href="{{ url_for('static', filename='vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" type="text/css">
    <!-- JQVMap -->
    <link href="{{ url_for('static', filename='vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet" type="text/css">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet" type="text/css">
    <!-- Dropzone.js -->
    <link href="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom Theme Style -->
    <link href="{{ url_for('static', filename='build/css/custom.min.css') }}" rel="stylesheet" type="text/css">
     {% block headers %}

      {% endblock %}
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{{ url_for('home.home') }}" class="site_title">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Logo">
                <span>EOD STOCK API</span>
              </a>
            </div>

            <div class="clearfix"></div>
            <!-- menu profile quick info -->
    {#              {% include "layouts/profileinfo.html" %}#}
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            {% include "layouts/sidebar.html" %}
            <!-- /sidebar menu -->
          </div>
        </div>
        <!-- top navigation -->
        {% include "layouts/header.html" %}
        <!-- /top navigation -->
        {% block content %}

        {% endblock content %}
        <!-- footer content -->
        {% include "layouts/footer.html" %}
        <!-- /footer content -->
      </div>
    </div>
    <!-- jQuery -->

    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='vendors/fastclick/lib/fastclick.js')}}" type="text/javascript"></script>
    <!-- NProgress -->
    <script src="{{ url_for('static', filename='vendors/nprogress/nprogress.js')}}" type="text/javascript"></script>
    <!-- Chart.js -->
    <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js')}}" type="text/javascript"></script>
    <!-- gauge.js -->
    <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js')}}" type="text/javascript"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{ url_for('static', filename='vendors/iCheck/icheck.min.js') }}" type="text/javascript"></script>
    <!-- Skycons -->
    <script src="{{ url_for('static', filename='vendors/skycons/skycons.js' )}}" type="text/javascript"></script>
    <!-- Flot -->
    <script src="{{ url_for('static', filename='fontawesome/js/brands.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js')}}" type="text/javascript"></script>
    <!-- Flot plugins -->
    <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js' )}}" type="text/javascript"></script>
    <!-- DateJS -->
    <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js')}}" type="text/javascript"></script>
    <!-- JQVMap -->
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' ) }}" type="text/javascript"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ url_for('static', filename='vendors/moment/min/moment.min.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap-daterangepicker/daterangepicker.js' ) }}" type="text/javascript"></script>
    <!-- bootstrap-datetimepicker -->
    <script src="{{ url_for('static', filename='vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}" type="text/javascript"></script>
    <!-- Dropzone.js -->
    <script src="{{ url_for('static', filename='vendors/dropzone/dist/min/dropzone.min.js') }}" type="text/javascript"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename='build/js/custom.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/blog/stories.js') }}" type="text/javascript"></script>
    {% block scripts %}

    {% endblock scripts %}
  </body>
</html>
