
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-dashboard"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                      <li><a href="{{ url_for('account.account') }}">Account</a></li>
                    </ul>
                  </li>
                  <li title="Manual Data Entry"><a><i class="fa fa-file-text"></i> Documentations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('docs.documentations', path='eod')}}">EOD</a></li>
                      <li><a href="{{ url_for('docs.documentations', path='exchanges')}}">Exchanges</a></li>
                      <li><a href="{{ url_for('docs.documentations', path='fundamentals')}}">Fundamentals</a></li>
                      <li><a href="{{ url_for('docs.documentations', path='financial-news')}}">Financial News</a></li>
                     <li><a href="{{ url_for('docs.documentations', path='sentiment')}}">Sentiment</a></li>
                     <li><a href="{{ url_for('docs.documentations', path='stocks')}}">Stocks</a></li>
                    <li><a href="{{ url_for('docs.documentations', path='options')}}">Options</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-server"></i> API <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url_for('home.status') }}">Status</a></li>
                      <li><a href="{{ url_for('docs.documentations', path="playground") }}">Play Ground</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav side-menu">
                    <li title="Manual Data Entry"><a href="{{ url_for('contact.contact')}}"><i class="fa fa-envelope"></i> Contact </a></li>
                </ul>
              </div>
              </div>

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Login" href="{{ url_for('auth.login') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
