{% extends "layouts/layout.html" %}

{% block title %}
    <title>EOD Stock API - Business & Financial News API</title>
{%  endblock %}
{% block seo_tags %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A developer's blog on EOD Stock API - using our own financial news API to help you stay updated on the latest financial news and events.">
        <meta name="keywords" content="EOD Stock API, End of Day Stock Data, Fundamental Data, Stock Options Data, Financial News API, Social Media Trend Data, Sentiment Analysis for News, Real-time Stock Data, Developer Blog">
        <meta name="author" content="MJ API Development">

        <meta property="og:title" content="EOD Stock API - Developer Blog - Stock Market API">
        <meta property="og:description" content="A developer's blog on EOD Stock API - using our own financial news API to help you stay updated on the latest financial news and events.">
        <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">
        <meta property="og:url" content="{{ request.url }}">
        <meta property="og:type" content="website">

        <meta name="twitter:title" content="EOD Stock API - Developer Blog - Stock Market API">
        <meta name="twitter:description" content="A developer's blog on EOD Stock API - using our own financial news API to help you stay updated on the latest financial news and events.">
        <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png') }}">
        <meta name="twitter:card" content="summary">

        <meta name="application-name" content="EOD Stock API">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {#<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">#}
{% endblock %}

{% block content %}
<div class="right_col" role="main">
<div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title"> {{ story.title }}</h1>
            </div>
            <div class="card-body">
                <h3 class="text text-info">Published By : {{ story.publisher }}</h3>
{#                <p>Date Published: {{ story.datetime_published }}</p>#}
                <p class="text text-info">Related Tickers: {{ story.related_tickers|join(', ') }}</p>
                <a href="{{ story.link }}" target="_blank" rel="nofollow">
                    <img
                        src="{{ story.thumbnail_url }}"
                        alt="{{ story.title }} thumbnail"
                        height="300"
                        width="400"
                        title="Read Article : {{ story.title }}"
                    >
                </a>
            </div>
            <div class="card-footer">
                {% if story.sentiment and story.sentiment.article_tldr %}
                    <p class="text-body">{{ story.sentiment.article_tldr }}</p>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if story.sentiment and story.sentiment.article %}
                    <p class="text-body">{{ story.sentiment.article}}</p>
                {% endif %}
            </div>

        </div>

    </div>
</div>

{% endblock %}

