{% extends "layouts/layout.html" %}
{% block headers %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "EOD Stock API - Financial News API - Stock Market News",
  "description": "EOD Stock API provides reliable and accurate End of Day stock data, financial news API, social media trend data for stocks, and much more.",
  "url": "https://eod-stock-api.site",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "https://eod-stock-api.site/financial-news/{{ country }}?ticker={ticker}",
      "encodingType": "application/x-www-form-urlencoded",
      "httpMethod": "GET",
      "actionPlatform": [
        "http://schema.org/DesktopWebPlatform",
        "http://schema.org/MobileWebPlatform",
        "http://schema.org/IOSPlatform",
        "http://schema.org/AndroidPlatform"
      ]
    },
    "query-input": "required name=ticker"
  }
}
</script>

{% endblock %}
{% block title %}
    <title>EOD Stock API - Blog - Financial News API - Top Stories</title>
{%  endblock %}
{% block seo_tags %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EOD Stock API - Blog - Using Our Own Financial News API - to help you keep updated on the current Financial News and Events ">
    <meta name="keywords" content="Stock Market News, Financial News, EOD Stock API, End of Day Stock Data, Fundamental Data, Stock Options Data, Financial News API, Social Media Trend Data, Sentiment Analysis for News, Real-time Stock Data">
    <meta name="author" content="MJ API Development">

    <meta property="og:title" content="EOD Stock API - Blog - Financial News API - Top Stories">
    <meta property="og:description" content="EOD Stock API - Blog - Using Our Own Financial News API - to help you keep updated on the current Financial News and Events ">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="EOD Stock API - Blog - Financial News API - Top Stories">
    <meta name="twitter:description" content="EOD Stock API - Blog - Using Our Own Financial News API - to help you keep updated on the current Financial News and Events ">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/logo.png') }}">
    <meta name="twitter:card" content="summary">

    <meta name="application-name" content="EOD Stock API">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {#<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">#}
{% endblock %}

{% block content %}
<div class="right_col" role="main">
<div class="container">
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Financial News API - Blog Articles</h3>
        {% if _introduction %}
        <spam> {{ _introduction| safe }} </spam>
        {% endif %}
    </div>
    <div class="card-body">
        <form id="story" method="GET" action="" enctype="application/x-www-form-urlencoded">
            <label for="ticker"><strong>Select Ticker</strong></label>
            <select class="form-control" name="ticker" id="ticker">
                {% for ticker, company_name in tickers.items() %}
                    <option name="search_ticker" value="{{ ticker }}" {% if selected_ticker == ticker %}selected{% endif %}>{{ ticker }} - {{ company_name }}</option>
                {% endfor %}
            </select>
            <button id="load_articles" type="submit" class="btn btn-dark"><i class="fa fa-file-text"> </i> Load Articles</button>
        </form>
    </div>
</div>

{% for story in stories %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> {{ story.title }}</h3>
            </div>
            <div class="card-body">
                <h2>Published By : {{ story.publisher }}</h2>
                <p>Date Published: {{ story.datetime_published }}</p>
                <p>Related Tickers: {{ story.related_tickers|join(', ') }}</p>
                <a href="{{ story.link }}" target="_blank" rel="nofollow">
                    <img
                        src="{{ story.thumbnail_url }}"
                        alt="{{ story.publisher }} thumbnail"
                        height="600"
                        width="600"
                    >
                </a>
                {% if sentiment and sentiment.article %}
                    <p>{{ sentiment.article }}</p>
                {% endif %}
                {% if sentiment and sentiment.article_tldr %}
                    <p>{{ sentiment.article_tldr }}</p>
                {% endif %}

                {# TODO - Consider adding a summary of the article here #}
            </div>
        </div>
{% endfor %}
</div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/blog/stories.js') }}"></script>
{% endblock %}