{% extends "layouts/layout.html" %}

{% block headers %}
{% endblock %}

{% block content %}
<div class="right_col" role="main">
<div class="container">
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Financial News API - Blog Articles</h3>
    </div>
    <div class="card-body">
        <form method="GET" action="{{ url_for('blog.load_top_stories') }}" enctype="application/x-www-form-urlencoded">
            <label for="ticker"><strong>Select Ticker</strong></label>
            <select class="form-control" name="ticker" id="ticker">
                {% for ticker in tickers %}
                    <option value="{{ ticker }}" {% if selected_ticker == ticker %}selected{% endif %}>{{ ticker }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-dark"><i class="fa fa-file-text"> </i> Load Articles</button>
        </form>
    </div>
</div>

{% for story in stories %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> {{ story.title }}</h3>
            </div>
            <div class="card-body">
                <h2>Published By : {{ story.publisher }}</h2>
                <p>Date Published: {{ story.datetime_published }}</p>
                <p>Related Tickers: {{ story.related_tickers|join(', ') }}</p>
                <a href="{{ story.link }}" target="_blank">
                    <img
                            src="{{ story.thumbnail_url }}"
                            alt="{{ story.publisher }} thumbnail"
                            height="600"
                            width="600"
                    >
                </a>
            </div>
        </div>
{% endfor %}
</div>
</div>
{% endblock %}
